<div class="page-container">

    <div>
        <h1 class="heading-border merch-heading">Merch</h1>

        <hr>

        <div class="merch-search">
            <form>
                <div class="form-group form-inline justify-content-center text-center">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="search" placeholder="Search"
                        style="width:350px" [(ngModel)]='merchFilter' name="filter">

                    <button (click)="search()" class="btn btn-primary mb-2 mr-sm-2">
                        <i class="fa fa-search"></i>
                    </button>
                    <p style="width:100%;" *ngIf='searchFilter'>
                        Filtered by: {{ searchFilter }} 
                        <button class="btn btn-danger btn-sm" (click)="clearSearch()" alt="Remove Search">X</button>
                    </p>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 text-center">
                        <label for="tags">
                            <h5>Filter Items</h5>
                        </label>
                        <p><strong>Clothing Options</strong></p>
                        <div class="form-inline justify-content-center">
                            <div *ngFor="let tag of availableTags">
                                <button *ngIf="tag.type === 'Clothing'" (click)="addTag(tag.id)"
                                    class="btn btn-outline-dark m-1">{{ tag.name }}</button>
                            </div>
                        </div>
                        <p class="p-1"><strong>Gender</strong></p>
                        <div class="form-inline justify-content-center">
                            <div *ngFor="let tag of availableTags">
                                <button *ngIf="tag.type === 'Gender'" (click)="addTag(tag.id)"
                                    class="btn btn-outline-dark m-1">{{ tag.name }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 text-center">
                        <label for="tags">
                            <h5>Searching By</h5>
                        </label>
                        <div class="form-inline justify-content-center">
                            <p *ngIf="selectedTags.length === 0">None</p>
                        
                            <div *ngFor="let tag of selectedTags">
                                <button (click)="removeTag(tag.id)" class="btn btn-outline-dark m-1">{{ tag.name }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row justify-content-center">

            <div *ngIf="filteredProducts.length === 0">
                <h5>We couldn't find what you were looking for. Please try again!</h5>
            </div>

            <div *ngFor="let product of filteredProducts">

                <div class="col-sm-3">
                    <prod-tab [product]='product'></prod-tab>
                </div>
            </div>
        </div>

    </div>
</div>