
.footer-container{
    background-color:#a31c1c;
    min-height:300px;
    padding:55px 30px;
    color:black;
    font-size:large;
    text-align:center;
}

.footer-links a{
    color:white;
}

.footer-links a:hover{
    font-weight: bold;
    cursor: pointer;
}

.footer-social{
    margin-top:25px;
}

.footer-social h4{
    color:white;
}

.footer-social-nav{
    padding:25px;
}

.footer-social-nav a{
    color:white;
    margin: 0 5px;
    border-bottom: 2px solid #a31c1c;
    font-size:20px;
    padding:4px;
}

.footer-social-nav a:hover{
    border-bottom: 2px solid white;
    font-size:24px;
    padding:0 2.5px;
}

.footer-created-by-container{
    background-color:black;
    color:white;
    padding:10px;
    text-align: center;
}

.footer-links div{
    padding:10px;
}

.footer-links img{
    width:100px; 
    height:25px;
    border-bottom: 2px solid #a31c1c;
}

.footer-links img:hover{
    border-bottom: 2px solid white;
}