<div class="footer-container">

    <div class="container">
        <div class="footer-links row">

            <div class="col-sm-6">
                <div class="nav flex-column">
                    <a class="nav-link" [routerLink]="['/merch']">Merch</a>
                    <a class="nav-link" [href]="socialMediaLinks[1]">Videos</a>
                    <a class="nav-link" [routerLink]="['/blog']">Blog</a>
                </div>
            </div>
            <div class="col-sm-6">
                <h4 class="justify-content-center" style="color:white">Support me below!</h4>
                <div class="nav flex-column">
                    <a class="nav-link" [href]="socialMediaLinks[4]"><img src="assets/images/patreon-logo.png"></a>
                    <a class="nav-link" [href]="socialMediaLinks[5]"><img src="assets/images/paypal-logo.png"></a>        
                </div>
            </div>

        </div>

        <div class="footer-social">
            <h4 class="justify-content-center">Follow me here!</h4>
            <div class="footer-social-nav nav justify-content-center">
                <a class="nav-item nav-link" [href]="socialMediaLinks[0]"><i class="fa fa-twitter"></i></a>
                <a class="nav-item nav-link" [href]="socialMediaLinks[1]"><i class="fa fa-youtube"></i></a>
                <a class="nav-item nav-link" [href]="socialMediaLinks[2]"><i class="fa fa-instagram"></i></a>
                <a class="nav-item nav-link" [href]="socialMediaLinks[3]"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="footer-created-by-container">

    <h5>Created by Joshua Favo</h5>

</div>