.blog-container{
    max-width: 800px;
    width:100%;
    margin:25px auto;
}

.blog-confirm-container{

}
.blog-confirm{
    border: 1px solid gainsboro;
    border-radius: 3px;
    background-color:rgb(250, 250, 250);
}
.blog-confirm ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.blog-confirm-desc{
    padding:10px;
    margin:auto 0;
    margin-bottom:-10px;
}
.blog-confirm-tools{
    padding:20px 10px;
    margin:auto 0;
}
.blog-confirm-tools button{
    margin: 0 5px;
}