<div class="home-container">

    <div class="home-banner-section">
        <img src="assets/images/home-banner.jpg">

        <div class="home-banner row">
            <button id="homeMerchBtn" class="col-md-4" (click)="changeYPosition($event)">
                <h4>Merch</h4>
                <i class="fa fa-arrow-circle-o-down"></i>
            </button>
            <button id="homeVideosBtn" class="col-md-4" (click)="changeYPosition($event)">
                <h4>Videos</h4>
                <i class="fa fa-arrow-circle-o-down"></i>
            </button>
            <button id="homeBlogBtn" class="col-md-4" (click)="changeYPosition($event)">
                <h4>Blog</h4>
                <i class="fa fa-arrow-circle-o-down"></i>
            </button>
        </div>
    </div>

    <div id="merchSection" class="home-merch-section">
        <h1 class="heading-border merch-heading">Merch</h1>
        <div class="section-window">
            <h2>Hottest Items</h2>
            <hr>
            <div class="row justify-content-center">
                <div *ngFor='let product of popularProducts'>

                    <div class="col-sm-4">
                        <prod-tab [product]='product'></prod-tab>
                    </div>

                </div>
            </div>

            <hr>

            <div class="text-center">
                <a class="btn btn-outline-danger btn-lg" role="button" [routerLink]="['/merch']">
                    Check out the rest of the merch!
                </a>
            </div>
        </div>
    </div>

    <div id="videoSection" class="home-video-section">

        <h1 class="heading-border">Videos</h1>
        <div class="section-window">
            <h2>Most Recent Video</h2>
            <hr>
            <div class="home-videos">
                <iframe class="video" src="https://www.youtube.com/embed/QKgoNPIXEgs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <hr>
            <div class="text-center">
                <a class="btn btn-outline-danger btn-lg" role="button" [href]="SocialMediaLinks[1]">
                    Want more? Go to my channel here!
                </a>
            </div>
        </div>
    </div>

    <div id="blogSection" class="home-blog-section">

        <h1 class="heading-border blog-heading">Blog</h1>
        <div class="section-window">
            <h2>Recent Post</h2>
            <hr>
            <div class="blog">
                <div class="blog-header">
                    <ul>
                        <li><a *ngIf=latestBlog [routerLink]="['/blog', 'entry', latestBlog.id]"><i class="fa fa-sticky-note"></i> {{ latestBlog?.title }}</a></li>
                        <li><i class="fa fa-calendar"></i> {{ latestBlog?.created_on | date }}</li>
                        <li *ngIf="latestBlog?.user"><i class="fa fa-user"></i> {{ latestBlog?.user.Username }}</li>
                        <li *ngIf="!latestBlog?.user"><i class="fa fa-user"></i> Pip</li>
                    </ul>
                </div>
                <div class="blog-body">
                    <p>{{ latestBlog?.body }}</p>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <a class="btn btn-outline-danger btn-lg" role="button" [routerLink]="['/blog']">
                    Check out the rest of my blogs here!
                </a>
            </div>
        </div>
    </div>

</div>