
.signup-heading{
    margin-left:10%;
    width:190px;
    padding:20px;
}

.section-window{
    max-width: 800px;
    margin: 25px auto;
}

@media only screen and (max-width: 600px){
    .signup-heading{
        font-size:32px;
        padding:10px;
        width:140px;
    }
}